:root {
    --color-blue-dark: #191970;
    --color-blue: #1E90FF;
    --color-blue-light: #ADD8E6;
    --color-light: #fff;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.navbar-bg {
    background-color: var(--color-blue);
}

.btn {
    border-radius: 50% !important;
    border: 2px solid var(--color-light);
    color: var(--color-light);
    font-weight: 600;
}

.btn-nav {
    color: var(--color-light);
    font-weight: 600;
}

.btn-nav:hover {
    color: var(--color-blue-dark);
}

body {
    background-color: var(--color-blue-light);
}

img {
    max-height: 300px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

h1 {
    color: var(--color-light);
}

p {
    font-weight: 500;
    color: var(--color-light);
    display: flex;
    text-align: justify;
}

.caixa {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}



.social i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

i {
    font-size: 20px;
    padding: 5px;
}
textarea {
    resize: none;
    height: 150px;
}